{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{info['name']}}</td>
                <td>{{info['price'] | usd}}</td>
                <td>{{info['symbol']}}</td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        {{price | usd}} price per stock!
    </div>
{% endblock %}